<% layout('layout/boilerplate') %>
    

    <div style=" margin: 20px 20px 20px 20px; padding: 10px 10px 10px 10px; display: flex; align-items: center; background-color: whitesmoke; box-shadow: 2px 2px 6px rgb(53, 53, 53); border-radius: 7px; padding: 10px 10px 10px 10px; ">
        <h1 style="display: inline; color: rgb(0, 123, 255);"><%= group.groupName %></h1>
        <!-- <div>
            <input type="text" id="id">
            <button onclick="joinRoom()" id="joinbtn" >JOIN</button>
        </div> -->
        <div style="display: inline; margin-left: 10vw;">

        
            <div style="display: inline; margin-bottom:">
                <a href="/groups/<%=group._id%>/pay" class="btn btn-primary">PAY</a>
            </div>
            <div style="display: inline; margin-left: 20px;">
                <a href="/groups/<%=group._id%>/preview" class="btn btn-primary">PREVIEW</a>
            </div>
        </div>
    </div>

    
    <div style="background-color: white; margin: 20px 20px 20px 20px; padding: 10px 10px 10px 10px; height: 62vh; box-shadow: 2px 2px 6px rgb(53, 53, 53); border-radius: 7px; padding: 10px 10px 10px 10px; overflow: auto;">
        <div class="box" style="padding: 5px 5px 5px 10px;">
            <!-- <h1>Messages came</h1> -->
            <% for(let message of group.message){ %>
                <p> <b> <%= message.user %> </b> : <%= message.msg %> <p>
            <% } %>
    
        </div>
    </div>

    <div style=" margin: 20px 20px 20px 20px; padding: 10px 10px 10px 10px; ">
        <div>
            <input type="text" id="msg" style="width: 500px; height: 37px; box-shadow: 2px 2px 6px rgb(53, 53, 53); border-radius: 7px; padding: 10px 10px 10px 10px; border: 0px;">
            <button onclick="sendMessage()" id="btn" class="btn btn-primary" style="height: 35px; margin-left: 20px; border-radius: 6px; box-shadow: 2px 2px 2px rgb(53, 53, 53);">SEND</button>
        </div>
    </div>

    

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js">
        
    </script>
    <script>

        const input = document.querySelector("#msg");
        // const id = document.querySelector("#id");
        const btn = document.querySelector("#btn");
        const joinbtn = document.querySelector("#joinbtn");
        const box = document.querySelector(".box");
        const socket = io("http://localhost:3000/");
        const groupID = "<%=group._id%>";
        const user = "<%=currUser.username%>";
        console.log(groupID);
        let room = "";
        socket.on('connect', () => {
            console.log('Connected to the server', socket.id);
        });

        // socket.on("welcome",(msg)=>{
        //     console.log(msg);
        // })

        socket.on("receiveMessage",(data)=>{
            const E = document.createElement("p");
            const F = document.createElement("b");
            F.textContent = `${data.user} `;

            E.textContent = `: ${data.msg}`;
            E.prepend(F);
            box.appendChild(E);
            // console.log(data);
        })

        function joinRoom(groupID){
            room = groupID.trim();
            if(room.length !== 0) socket.emit("joinRoom",room);
        }

        joinRoom(groupID);

        async function sendMessage(){

            let data = {
                msg: input.value.trim(),
                user: user
            };

            if(data.msg.length === 0){
                return;
            }

            const request = new Request(`/groups/${groupID}/putMessage`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            
            const response = await fetch(request);
            // console.log(response);

            input.value = '';
            if(msg.length !== 0 && room.length !== 0){
                socket.emit("message",{data,room});
            } 
        }
        
        input.addEventListener('keydown',function(e){
            if(e.key === 'Enter'){
                sendMessage();
            }
        })

        
        //this function would run when u are leaving the page
        window.addEventListener('beforeunload', (event) => {
            socket.emit("disconnect","user disconnected");
            socket.disconnect();
            console.log('Disconnected from the server');
        });
        
    </script>
    <!-- <script>
        console.log("here it is");
        
        const io = require("https://cdn.socket.io/4.7.5/socket.io.esm.min.js");
        const socket = io("http://localhost:3000/");


      </script> -->
